.center{

    background: green;
    height:500px;
}
input
{
    border: 2px solid red;
    width:400px;
    height: 20px;

}
input[type=submit],a
{
    background: red;
    width:10%;
    height:25px;
    font-weight: 700;
}
::placeholder{
    font-weight: 700;
    color: black;
}
